<div class="container containerCreate">
    <h5 class="card-title fs-50 text-center">Add StudentDiary</h5>
    <form class="">
        <div class="position-relative row form-group">
            <!--<div class="col-sm-9" style="border-style: solid; border-width: medium; width: 50px; height: 50px; border-color: transparent;">
            </div>-->
            <div class="col-sm-9">
                <div class="position-relative row form-group">
                    <div class="col-sm-6">
                        <label for="diarytext" class="col-form-label">DiaryText</label>
                        <input name="diarytext" id="diarytext" placeholder="Diarytext" type="text" class="form-control" ng-Model="StudentDiaryModel.DiaryText">
                    </div>
                    <div class="col-sm-6">
                        <label for="diarydate" class="col-form-label">DiaryDate</label>
                        <input name="diarydate" id="diarydate" placeholder="DiaryDate" type="date" class="form-control" ng-Model="StudentDiaryModel.DiaryDate">
                    </div>
                </div>
                <!--<div class="position-relative row form-group">
            <div class="col-sm-6">
                <label for="school" class="col-form-label">School</label>
                <select name="school" id="school" class="form-control" ng-Model="StudentDiaryModel.School"
                        ng-options="School.Name for School in Schools  track by School.Id">
                </select>
            </div>

        </div>-->
            </div>
            </div>
            <div class="position-relative row form-group">
                <div class="col-sm-6">
                    <button class="btn btn-primary" ng-click="StudentDiaryCreate()">Submit</button>
                    <button class="btn btn-secondary" ng-click="Cancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
