<div class="container containerCreate">
    <h5 class="card-title fs-50 text-center">User Profile</h5>
    <form name="userForm" class="">
        <div class="position-relative row form-group">
            <div class="col-sm-3">
                <img src="{{UserModel.Image}}" class=" img-circle img-thumbnail" alt="avatar">
                <div style="margin-top: 10px;">
                    <input type="file" name="file" onchange="angular.element(this).scope().SelectFileForUpload(this.files)" />
                </div>
            </div>
            <div class="col-sm-9">
                <div class="position-relative row form-group">
                    <div class="col-sm-6">
                        <label for="firstname" class="col-form-label">Username</label>
                        <input name="firstname" id="firstname" placeholder="Username" type="text" class="form-control" ng-Model="UserModel.Username">
                    </div>
                    <div class="col-sm-6">
                        <label for="lastname" class="col-form-label">Email</label>
                        <input name="lastname" id="lastname" placeholder="Email" type="text" class="form-control" ng-Model="UserModel.Email">
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <div class="col-sm-3">
                        <a href="#!/changePassword">Change Password</a>
                    </div>
                </div>
                <!--<div class="position-relative row form-group">
                    <div class="col-sm-3">
                        <label for="cnic" class="col-form-label">CNIC/B.Form</label>
                        <input name="cnic" id="cnic" placeholder="cnic/b.form" type="text" class="form-control" ng-Model="StudentModel.Person.Cnic">
                    </div>
                    <div class="col-sm-3">
                        <label for="phone" class="col-form-label">Phone</label>
                        <input name="phone" id="phone" placeholder="phone" type="text" class="form-control" ng-Model="StudentModel.Person.Phone">
                    </div>
                    <div class="col-sm-3">
                        <label for="nationality" class="col-form-label">Nationality</label>
                        <input name="nationality" id="nationality" placeholder="Nationality" type="text" class="form-control" ng-Model="StudentModel.Person.Nationality">
                    </div>
                    <div class="col-sm-3">
                        <label for="religion" class="col-form-label">Religion</label>
                        <input name="religion" id="religion" placeholder="religion" type="text" class="form-control" ng-Model="StudentModel.Person.Religion">
                    </div>
                </div>
                <div class="position-relative row form-group">
                    <div class="col-sm-6">
                        <label for="school" class="col-form-label">School</label>
                        <select name="school" id="school" class="form-control" ng-Model="StudentModel.School"
                                ng-options="School.Name for School in Schools track by School.Id">
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="class" class="col-form-label">Class</label>
                        <select name="class" id="class" class="form-control" ng-Model="StudentModel.Class"
                                ng-options="Class.ClassName for Class in Classes track by Class.Id">
                        </select>
                    </div>
                </div>-->
            </div>
        </div>
        <!--<div class="position-relative row form-group">
            <div class="col-sm-12">
                <label for="presentaddress" class="col-form-label">Present Address</label>
                <textarea name="presentaddress" id="presentaddress" placeholder="present address" type="text" rows="3" class="form-control" ng-Model="StudentModel.Person.PresentAddress"></textarea>
            </div>
        </div>
        <div class="position-relative row form-group">
            <div class="col-sm-12">
                <label for="permanentaddress" class="col-form-label">Permanent Address</label>
                <textarea name="permanentaddress" id="permanentaddress" placeholder="permanent address" type="text" rows="3" class="form-control" ng-Model="StudentModel.Person.PermanentAddress"></textarea>
            </div>
        </div>-->
        <div class="position-relative row form-group">
            <div class="col-sm-6">
                <button class="btn btn-primary" ng-click="SaveFile()">Update</button>
                <button class="btn btn-secondary" ng-click="Cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>

